body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: #e5e0fa;
  background-color: #030109;
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

/* Home Page */

#toggleButton {
  margin-bottom: 15px;
}

/* ROI Calculator */

#result {
  margin-top: 20px;
  border: #e5e0fa 1px solid;
  background-color: #817b9d;
}

.form-group {
  margin-bottom: 10px;
}

.submitbtn {
  margin-top: 10px;
}

/* Card Stuff */

.card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  margin-right: 20px;
  margin-bottom: 20px;
}

/* Table Stuff */

table {
  border-collapse: collapse;
  width: 100%;
  background-color: #261e29;
}

th {
  border: 1px solid #e5e0fa;
  background-color: #817b9d;
  padding: 10px;
  text-align: left;
}

td {
  border: 1px solid #e5e0fa;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
}
